{% extends 'base.html' %}
{% block content %}
  <h2 class="mb-4">Мои объявления</h2>

  {% if page_obj %}
    <ul>
      {% for ad in page_obj %}
        <li>
          <h4>{{ ad.title }}</h4>
          <p>{{ ad.description }}</p>
          <p>{{ ad.price }} ₸</p>
          {% if ad.image %}
            <img src="{{ ad.image.url }}" alt="{{ ad.title }}" style="max-width: 300px;">
          {% endif %}
          <p>
            <a href="{% url 'ad_edit' ad.id %}" class="btn btn-warning btn-sm">Редактировать</a>
            <a href="{% url 'ad_delete' ad.id %}" class="btn btn-danger btn-sm">Удалить</a>
          </p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>У вас пока нет объявлений.</p>
  {% endif %}

  {% include 'ads/pagination.html' with page_obj=page_obj %}
{% endblock %}