{% extends 'base.html' %}
{% block content %}
<h1 style="color:red;">ШАБЛОН ПОДКЛЮЧЕН</h1>
  <ul>
    {% for ad in page_obj %}
      <li>
        <h2>{{ ad.title }}</h2>
        <p>{{ ad.description }}</p>
        <p>Цена: {{ ad.price }}</p>
        {% if ad.image %}
          <img src="{{ ad.image.url }}" alt="{{ ad.title }}" style="max-width: 300px;">
        {% endif %}
      </li>
    {% empty %}
      <li>Объявлений пока нет.</li>
    {% endfor %}
  </ul>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endblock %}